html{
	 box-sizing: border-box;
}
body{
 /*background-image: url('topo2.svg');*/
 background-image:  linear-gradient(#ebff00, green);
 background-size: 340px, auto;
	  min-height: calc(100vh - 100px);
  /* background: white; */
  background-attachment: fixed;
  letter-spacing: -1px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
